<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Personal Travel Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="style.scss"> -->
</head>
<body>
  <div class = "container">  
    <!-- navigation bar -->
    <div class ="n navbar">
      <!--flexbox navigation bar -->
      <div class = "nav_one">
        <a href="#"><h2>Subscribe</h2></a>
      </div>
      <div class = "nav_two">
        <h1> Travel Blog</h1>
      </div>
    </div>
    <!-- travel destinations with picture -->
    <div class="postcard">
      <div class = "pc_one">
        <div class="card">
          <a href="post.html">
            <img src = "<%= require('../images/tahoe.jpg') %>" alt="Tahoe picture">
          </a>
          <a href="post.html"><h2> Lake Tahoe</h2></a>
          <p>California, U.S</p>
        </div>
      </div>
      <div class = "pc_two">
        <div class="card">
          <img src = "<%= require('../images/cancun.jpg') %>" alt="Cancun picture">
          <h2><b>Cancun</b></h2>
          <p>Quintana Roo, Mexico</p>
        </div>
      </div>
      <div class = "pc_three">
        <div class="card">
          <img src = "<%= require('../images/sydney.jpg') %>" alt="Sydney picture">
          <h2><b>Sydney</b></h2>
          <p>New South Wales, Australia</p>
        </div>
      </div>
    </div>
    <!--Footer-->
    <div class = "f footer">
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <p></p><button>Contact</button></p>
      <p> Copyright 1999-2020 by Joyce Yu. All Rights Reserved.</p>
    </div>
  </div>
</body>
</html>