<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <div class = "container"> 
    <div class ="h header">
      <!--Header-->
      <h1> Travel Planner</h1>
    </div>
    <div class = "holder">
      <label for="holder">Travel Desitnation</label>
      <input type="text" id="city" placeholder="Enter city name here">
      <label for="holder">Departure Date</label>
      <textarea class= "Input" id="date" placeholder="Enter your leaving date YYYY-MM-DD" rows="1" cols="40"></textarea>
      <label for="holder">Returning Date</label>
      <textarea class= "Input" id="enddate" placeholder="Enter your returning date YYYY-MM-DD" rows="1" cols="40"></textarea>
      <div>
        <button id="generate" type = "submit"> Save Trip </button>
      </div>
    </div>
  <div class="pic image">
    <img id ="img">
  </div>
  <div class = "post postData">
    <br />
    <div> 
      <returnCity id = "returnCity">
      <label for="returnCity">My trip to: </label>
    </div> 
    <br />
    <div>
      <returnDate id = "returnDate">
      <label for="returnDate">Departing: </label>
    </div> 
    <br />
    <div>
      <returnDate id = "days">
      <label for="days">Days to departing:</label>
    </div> 
    <br />
    <div>
      <returnDate id = "stay">
      <label for="stay">Length of trip:</label>
    </div> 
    <br />
    <div>
      <label>Typical weather for then:</label>
      <weather id = "weather"></weather>
   </div> 
   <!-- enable service worker installation -->
   <script>
    /* Check that service workers are supported */
    if ('serviceWorker' in navigator) {
        /* Use the window load event to keep the page load performant */
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>
</body>
</html>