

/* Anything smaller than first breakpoint 600px */
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 250px 50px;
    grid-template-areas:
        "n"
        "p"
        "f"
        
      
}

.navbar{
    width: 100%;
    height: 100%;
    background: #F8FA9D;
}

.postcard,.footer{
    width: 100%;
    height: 100%;
    background: pink;
    overflow-wrap: normal;
}

.navbar{
    grid-area: n;
}

.postcard{
    object-fit:cover;
    grid-area:p
}

.footer{
    object-fit: cover;
    grid-area: f;
}

/*cards on blog website*/ 
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }

  img {
    border-radius: 5px 5px 0 0;
    display:inline-block;
    padding: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .frame {
    padding: 2px 16px;
  }

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 36px;
}

input{
    display:block;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}

button{
    background: white;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 2px 4px 5px #444;
}

h1{
    font-size: 72px;
}

textarea{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

// /* Reset style for HTML element on active to have no border*/
input:hover,
select:hover,
textarea:hover{
    border: 2px black solid;
}

button:hover {
    background-color: grey;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

/*Medium Screens*/
@media(min-width:640px) and (max-width:900px){
    .container{
        display:grid;
        grid-template-columns:300px,300px,1fr;
        grid-template-rows: 250px,600px;
        grid-template-areas:
        "n n"
        "p p p"
        "f"
  
    }
}

/*Large Screens*/
@media(min-width:901px){
    .container{
        display:grid;
        grid-template-areas:
        "n n n "
        "p p p"
        "f f f"
    }
}